// 依順序載入BS相關scss檔案
@import "~bootstrap/scss/functions";
@import "./helpers/variables";      //複製一份客製化
@import "~bootstrap/scss/bootstrap";
// GoogleFont 字型匯入
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@font-face {
  font-family: 'Mantou';
  src: url('@/assets/font/MantouSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@mixin pad{
  @media(max-width:768px){
    @content;
  }
}

@mixin mobile{
  @media(max-width:576px){
    @content;
  }
}

body {
  font-family: 'Inter';
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0;
}

.H1_Heading {
  //styleName: Bold/H1 Heading
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
}
@include mobile {
  .H1_Heading_mo {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: -0.011em !important;
    text-align: left !important;
  }
}
.H2_Heading {
  //styleName: Bold/H2 Heading
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}
@include mobile {
  .H2_Heading_mo {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: -0.011em !important;
    text-align: left !important;
  }
}
.H3_Heading {
  //styleName: Bold/H3 Heading
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}
@include mobile {
  .H3_Heading_mo {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: -0.011em !important;
    text-align: left !important;
  }
  .H3_Heading_mo_2 {
    //styleName: Bold/H3 Heading
    font-size: 28px !important;
    font-weight: 700 !important;
    line-height: 42px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }
}
.H4_Heading {
  //styleName: Bold/H4 Heading
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
@include mobile {
  .H4_Heading_mo {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: -0.011em !important;
    text-align: left !important;
  }
  .H4_Heading_mo_2 {
    font-size: 24px !important;
    font-weight: 700 !important;
    line-height: 36px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }
}
.H5_Heading {
  //styleName: Bold/H5 Heading
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
@include mobile {
  .H5_Heading_mo {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: -0.011em !important;
    text-align: left !important;
  }
  .H5_Heading_mo_2 {
    //styleName: Bold/H5 Heading
    font-size: 20px !important;
    font-weight: 700 !important;
    line-height: 30px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }
}
.H6_Heading {
  //styleName: Bold/H6 Heading
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
@include mobile {
  .H6_Heading_mo {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: -0.011em !important;
    text-align: left !important;
  }
}
.base_text {
  //styleName: Body/Base text
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
@include mobile {
  .base_text_mo {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: -0.011em !important;
    text-align: left !important;
  }
}
.body {
  //styleName: Body/Body
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
@include mobile {
  .body_mo {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: -0.011em !important;
    text-align: left !important;
  }
  .body_mo_2 {
    //styleName: Body/Body
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
  }
}
.small {
  //styleName: Body/Small
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
@include mobile {
  .small_mo {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: -0.011em !important;
    text-align: left !important;
  }
}
.large_text {
  font-family: Mantou;
  font-size: 52px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
}
@include mobile {
  .large_text_mo {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 24px !important;
    letter-spacing: -0.011em !important;
    text-align: left !important;
  }
}
.section_padding {
  padding: 104px 0;
  @include mobile {
    padding: 64px 0;
  }
}